{% extends 'layout.html' %} {% block content %}
<div class="iq_content_wrap">

    <!--Number Counter Wrap End-->
    <!--Our Teacher Wrap Start-->
    <!--Our Teacher Wrap End-->
    <!--Our Blog Slider Start-->
    <section class="center-slider-wrap">
        <div class="container">
            <div class="blog-slider">
                <div class="row">
                    {% for e in Home %}
                    <div class="col-md-6 col-sm-6" style="height: 400px; width: 550px;">
                        <div class="center-dec">

                            <div class="iq_course_list">
                                <figure style="height: 200px; width: 520px;">
                                    {% if e.ext in ['.jpge','.png', '.gif','.jpg'] %}
                                    <img src="{{url_for('static',filename='uploads/') }}{{e.file}}" style="height:200px;"> {% elif e.ext in ['.txt', '.pdf'] %}
                                    <object data="{{e.file}}" type="application/pdf" style="width:500px;height:500px;">
                                
                            </object> {% endif %}
                                </figure>
                                <div class="iq_course_list_des">
                                    <h5><a href="{{url_for('static',filename='uploads/') }}{{e.file}}">{{e.titre}}</a></h5>
                                    <p>{{e.description}} </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--Slider Strat Start-->
        </div>
    </section>
</div>

{% endblock %}